body {
  margin: 0;
}

.navbar {
  background: #ffffff;
  align-items: center;
  padding: 20px 35px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
  max-width: 1000px;
  width: 80x;
  height: 25px;
}
