* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.navbar {
  background: #ffffff;
  align-items: center;
  padding: 20px 35px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
  max-width: 100px;
  width: 80x;
  height: 25px;
}

.banner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.banner-photo {
  align-self: center;
  max-width: 400px;
}

.banner--header {
  margin-bottom: 16px;
}
.banner--text {
  width: 280px;
  margin-top: 0;
  word-wrap: break-word;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}
.card--content {
  padding-left: 20px;
}
.card--photo {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}
.card--star {
  width: 14px;
  height: 14px;
}

span {
  font-weight: bold;
}
.card--list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
