* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.navbar {
  background: #ffffff;
  align-items: center;
  padding: 20px 35px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.navbar--logo {
  max-width: 100px;
  width: 80x;
  height: 25px;
}

.banner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.banner-photo {
  align-self: center;
  max-width: 400px;
}

.banner--header {
  margin-bottom: 16px;
}
.banner--text {
  width: 280px;
  margin-top: 0;
  word-wrap: break-word;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card--content {
  padding-left: 20px;
}
.card--photo {
  border-radius: 9px;
  max-width: 176px;
}
.card--star {
  width: 14px;
  height: 14px;
}

span {
  font-weight: bold;
}
.card--list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
